*{
  box-sizing: border-box;
}
html{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}
img{
  max-width: 100%;
}
.box{
  width: 80%;
  margin: 0 auto;
}
.flex-row{
  display: flex;
  flex-direction: row;

}
@media(max-width:600px){
  .flex-row,.flow-column{
    display: block;
  }
  html{
    font-size: 14px;
  }

}
.flex-column{
  display: flex;
  flex-direction: column;
}
.align{
  align-items: center;
  justify-content: space-between;
}
/* ------------Header------------------------------- */
.nav{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}
@media(max-width:600px){
  .nav{
    display: none;
  }
  .hamburger-menu{
    display: block;
    cursor: pointer;
  }
  .nav--open{
    display: flex;
  }
}
.hamburger--div{
  display: flex;
}
.hamburger-menu{
  width: 25px;
  height: 25px;
  display: none;
}
.hamburger--ul{
  list-style-type: none;
  padding: 1em 0em ;
}
.hamburger__item{
  padding-bottom: .5em;
  cursor: pointer;
  color: gray;
  font-weight: 700;
  font-size: 1em;
}
.hamburger__item:hover{
  color: black;
}
@media(max-width:600px){
  .hamburger-menu{
    display:block
  }
}
.nav--ul{
  list-style-type: none;
  display: flex;
  
}
header{

  min-height: 4em;
}
.nav__item{
  padding: 0em 1em;
  cursor:pointer;
  font-size: .7em;
  font-weight: 700;
  color: gray;
}
.nav__item:hover{
  color: hsl(180, 66%, 49%);;
}
.logo{
  cursor: pointer;
  width: 80%;
 
}
@media(max-width:600px){
  .logo{
    width: 70%;
    margin-top: 15px;
  
  }
}
.nav__btn{
  padding: .5em 1.5em;
  background-color: hsl(180, 66%, 49%);
  border: 1px solid;
  color: white;
  border-radius: 2em;
  font-weight: 700;
}
.nav__btn:hover{
  color: hsl(180, 66%, 49%);
  background-color: rgb(70, 70, 70);
}
/* -------------------------------------------------------- */

/* ----------Main--------------------------------------------- */
.hero{
  width: 90%;
  margin-left: auto;
  padding: 2em 0em;
  font-family: 'Poppins', sans-serif;
  padding-bottom:4rem;
}
.hero__left{
  width: 50%;
}
@media(max-width:600px){
  .hero__left{
    width: 100%;
  }

}
@media(max-width:600px){
  .hero__img{
    min-width: 22em;
   min-height: 20em;
   margin-top: 2em;
  }
}
.hero__img{
  width: 100%;
}
.hero__right{
  width: 40%;
  margin-left:10%

}
.hero__h1{
  font-size: 3.5em;
  font-weight: 700;
  line-height: 1em;
  margin-top:0;
  width: 90%;
}


.hero__p{
  font-weight: 300;
  font-size: 1.5em;
  color: gray;
  width: 80%;
}
.hero__btn{
  font-weight: 700;
  font-size: 1rem;
  margin-top: 1rem;
  padding: .5rem 1.5rem;
  color: white;
  background-color: hsl(180, 66%, 49%);
  border: 1px;
  border-radius: 2em;
  cursor: pointer;
}
.hero__btn:hover{
  color: hsl(180, 66%, 49%);;
  background-color: rgb(41, 40, 40);
}
/* ----------------------------------------------- */


/* ----------middle---------------------------------------------- */
.middle{
    font-family: 'Poppins', sans-serif;
    background-color: hsl(253, 21%, 92%);
    position : relative;
}
.middle__text{
  padding: 2em 0em;
  padding-top: 7rem;
}
.middle__h2{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: .5em;
}
.middle__p{
  font-weight: 500;
  font-size: .8em;
  color: gray;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.8em;
}
.middle__flex{
  gap: 3em;
  padding: 3em 0em;
}
.middle__col{
  background-color: white;
  padding: 0em 1em;
  margin-top: 6rem;
}
.middle__flex--p{
  font-weight: 300;
  font-size: .7rem;
  color: gray;
}
.middle__h5{
  padding-top: 2em;
  margin-bottom: 2px;
}
.middle--icon--div{
  display: inline-block;
  align-items: center;
  background-color: hsl(257, 27%, 26%);
  border-radius:10rem;

}
.middle__col{
  position: relative;
}
.middle__icon{
  padding: .5rem .7rem;
  width: 3.5rem;
  height: 3rem;
  position: absolute;
  top: -1.6rem;
  background-color: hsl(257, 27%, 26%);
  border-radius:10rem;
}
.middle__form{
  width: 80%;
  margin: 0 auto;
  border-radius: .5rem;
  background-color: white;
  min-height: 5rem;
  background-image: url("../public/images/bg-shorten-desktop.svg");
  background-color: hsl(260, 30%, 28%);
  position: absolute;
  top: -2rem;
} 
.middle__input{
  width: 60%;
  margin: 1.5rem 5rem;
  padding: .6rem;
  border-radius: .5rem;
  border: none;
}
@media(max-width:600px){
  .middle__input{
    width:55%;
  }
  .middle__btn{
    margin-left:8em ;
    margin-bottom: 1em;
  }
}



.middle__btn{
  padding: .6rem 1.5rem;
  border-radius: .5rem;
  border: none;
  font-weight: 700;
  background-color:hsl(180, 66%, 49%); 
  cursor: pointer;
  color: white;
}


.middle__btn:hover{
  color:hsl(180, 66%, 49%);  
  background-color: black;
}


/* -------------------------------------------------------------- */

/* ------------------boost----------------------------- */
.boost--div{
  background-image: url("../public/images/bg-boost-desktop.svg");
  padding:1em 0em;
  font-family: 'Poppins', sans-serif;
  background-color: hsl(260, 30%, 28%);
  color: white;

}
.boost{
 width: 50%;
 margin: 0 auto;
 text-align: center;
  
}
.boost__h2{
  margin-bottom:.5rem;
}
.boost__btn{
  color: white;
  background-color: hsl(180, 66%, 49%);;
  margin-top: 0;
  padding: .5rem .8rem;
  font-weight: 700;
  border: none;
  border-radius:1rem;
  cursor: pointer;
}
.boost__btn:hover{
  color: hsl(180, 66%, 49%);
  background-color: rgb(0, 0, 0);
}


/* --------------------------- */

/* ------------footer-------------------------------------------------- */
footer{
  background-color: black;
  padding: 1em 0em;
  color: white;
  text-align:start;

}
@media(max-width:600px){
  footer{
    display: flex;
    flex-direction: column;
    text-align: center;

  }
}

.footer__logo{
  fill: #ffffff;
}
.footer__items{
  list-style-type: none;
  padding: .3em 0em;
  cursor: pointer;
  font-weight: 300;
  font-size:16px
  
}
.icons{
  padding-left: .5em;
  cursor: pointer;
}
.icons:hover{
  color: black
};
/* ---------------------------------------- */

